---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">posts in this category</p>
  </header>

  <article class="archive">
    <table>
      {% for post in page.posts %}
        <tr>
          <th>{{ post.date | date: '%b %d, %Y' }}</th>
          <td>
            {% if post.redirect == blank %}
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
            {% elsif post.redirect contains '://' %}
              <a href="{{ post.redirect }}" target="_blank">{{ post.title }}</a>
            {% else %}
              <a href="{{ post.redirect | relative_url }}">{{ post.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </article>
</div>
